<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!-- hibernate 基本信息配置 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_hibernate03</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.username">root</property>
        
        <!-- hibernate 使用的数据库方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <!-- 运行时是否打印SQL -->
        <property name="show_sql">true</property>
        
        <!-- 格式化SQL 格式 -->
        <property name="format_sql">true</property>
        
        <!-- 生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- 设置hibernate 的事务隔离级别 -->
        <property name="connection.isolation">2</property>
        
        <!-- 删除对象后使其OID 置为null（用的不多） -->
        <property name="use_identifier_rollback">true</property>
        
        
        <!-- 配置C3P0 数据源 -->
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        
        <property name="c3p0.idle_test_period">2000</property>
        <property name="c3p0.timeout">2000</property>
        
        <property name="c3p0.max_statements">10</property>
        
        
        <!-- 设置JDBC 的 Statement读取数据库时每次从数据库中读取的记录条数  只对oracle有效 -->
        <property name="hibernate.jdbc.fetch_size">100</property>
        
        <!-- 设置对数据库批量删除、批量更新、批量插入的时候的批次大小  只对oracle有效 -->
        <property name="hibernate.jdbc.batch_size">30</property>
        
        <!-- 需要关联的hibernate 映射文件 .hbm.xml -->
        <mapping resource="com/unionsubclass/Person.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
